:root {
	--color-light: #f8f9fa;
	--color-white: #fff;
	--color-unaccent: #808080;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--linear-gradient: linear-gradient(90deg, rgba(173,37,0,1) 0%, rgba(0,84,198,1) 100%);
	--box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.42);
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,212,255,1);
	border-radius: 5px;
}
::-webkit-scrollbar-track {
	background-color: #000;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.7;
	background-color: var(--color-light);
}